# .gitignore

# generated build files
autom4te.cache/
autoscan.log
build-aux/
aclocal.m4
ChangeLog
config.*
configure
configure.scan
libtool
Makefile
Makefile.in
stamp-h1
.deps/
.libs/
*.l[oa]
*.gz
*.bz2

# vim config files
.gvimrc
